<div class="container-fluid">
  <h2>My Projects</h2>
  <p style="font-size: clamp(1rem,1.5vw,2rem); text-align: center;">
    Showcasing my technical skills through real-world application development.
  </p>
  <div class="card-group">
    <!--card 1-->
    <div class="card">
      <div class="blue-part">
        <span>Full Stack</span>
        <h3>BookMyHall</h3>
        <p>
          A hall booking web application designed to simplify venue
          reservations. Built using Angular for the frontend and Spring Boot,
          Hibernate, and JPA on the backend. It uses MySQL as the database and
          includes a responsive Bootstrap UI.
        </p>
      </div>
      <div class="black-part">
        <h4>Technology Stack</h4>
        <div class="group">
          <span>Angular</span>
          <span>Spring Boot</span>
          <span>Hibernate</span>
          <span>JPA</span>
          <span>MySQL</span>
          <span>Bootstrap</span>
        </div>
        <h4>Key Features</h4>
        <ul>
          <li>Booking management system</li>
          <li>Responsive design for all devices</li>
          <li>Admin panel for hall management</li>
          <li>Dynamically Hall adding and deletion</li>
          <li>Easy to access booking details</li>
        </ul>
        <a href="https://github.com/saud9422/Hall_Booking_System"><button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-github"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
            />
          </svg>
          View Code
        </button>
        </a>
      </div>
    </div>

    <!--card 2-->

    <div class="card">
      <div class="blue-part">
        <span>Backend API</span>
        <h3>Student Attendance Managment System</h3>
        <p>
          A comprehensive backend system for managing student data and academic
          records. Built with Spring Boot and Hibernate, featuring RESTful APIs
          for student operations, course management, and grade tracking with
          robust data persistence using JPA.
        </p>
      </div>
      <div class="black-part">
        <h4>Technology Stack</h4>
        <div class="group">
          <span>Spring Boot</span>
          <span>Hibernate</span>
          <span>JPA</span>
          <span>MySQL</span>
          <span>REST API</span>
        </div>
        <h4>Key Features</h4>
        <ul>
             <li>Student login and register</li>
          <li>Complete CRUD operations for student records</li>
          <li>RESTful API endpoints with proper validation</li>
          <li>Database relationships with JPA annotations</li>
          <li>Spring Security for authentication</li>
         
        </ul>
        <a href="https://github.com/saud9422/Student-Management-System--Backend-API"><button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-github"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
            />
          </svg>
          View Code
        </button>
        </a>
      </div>
    </div>
  </div>
</div>
