<div class="container-fluid">
  <div class="text-content">
    <H2>Hi, I'm <span style="color: rgb(0, 119, 255);">Saud Khan</span> </H2>
    <h3>Aspiring Java Developer</h3>
    <p>
      MCA 2025 graduate passionate about full stack development and backend
      engineering.
    </p>
    <div class="buttons">
     <a href="https://drive.google.com/file/d/1n0k85DYGuECGcd5dcWfmkpvJHCTkNx-w/view?usp=sharing"><button class="btn-hire">Resume</button></a> 
      <button class="btn-contact" (click)="scrollToContact()">Contact Me</button>
    </div>
  </div>
  <div class="image">
    <img src="../../assets/images/passport photo.jpg" alt="" width="300px" height="300px" class="photo">
  </div>
</div>

