<div class="container-fluid">
  <h2>About Me</h2>
  <p id="heading-para">
    Passionate about creating efficient and scalable solutions through clean
    code and modern technologies.
  </p>
  <div class="cantainer">
    <div class="about">
      <div class="journey">
        <h3>My journey</h3>
        <p style="color: rgb(178, 177, 177);">
          I'm Saud Khan, an aspiring Java developer currently pursuing a
          Master's in Computer Application (MCA) from HVPM College, Amravati. I
          also hold a Bachelor's degree in Computer Application from Shri
          Shivaji College of Science and Arts, Amravati. I am passionate about
          backend technologies, with hands-on experience in modern Java
          development tools and frameworks.
        </p>
      </div>
      <div class="education">
        <h3>Education</h3>
        <div class="degree">
          <h5>Master's in Computer Application (MCA)</h5>
          <h6>HVPM College, Amravati • 2025</h6>
          <br />
          <h5>Bachelor's in Computer Application (BCA)</h5>
          <h6>Shri Shivaji College of Science and Arts, Amravati</h6>
        </div>
      </div>
    </div>

    <div class="skills">
      <h2 style="color: rgb(0, 98, 255); margin-bottom: 2rem;">Techniacal Skills</h2>
      <div class="front-end">
        <h3 style="color: rgb(231, 235, 240);">Frontend Development</h3>
        <div class="group">
          <span>HTML</span>
          <span>CSS</span>
          <span>Typedscript</span>
          <span>Bootstrap</span>
          <span>Angular</span>
        </div>
      </div>

      <div class="back-end">
        <h3  style="color: rgb(231, 235, 240);">Backend Development</h3>
        <div class="group">
          <span>Java</span>
          <span>JDBC</span>
          <span>Servlet</span>
          <span>JSP</span>
          <span>Hibernate</span>
          <span>Spring</span>
          <span>Springboot</span>
           <span>MySQL</span>
        </div>
      </div>

       <div class="data">
        <h3  style="color: rgb(231, 235, 240);">Tools & Software</h3>
        <div class="group">
          <span>Eclipes</span>
          <span>VS code</span>
          <span>Postman</span>
          <span>GItHub</span>
         
        </div>
      </div>

     

    </div>
  </div>
</div>
